<div
  [ngClass]="{
    'container-light': background === 'light',
    'container-dark': background === 'dark'
  }"
>
  <div class="container__content">
    <div class="container__content_header">
      <div class="title" *ngIf="headerTitle">
        <div>
          <span *ngIf="headerIcon" class="pi {{ headerIcon }} mr-3" style="font-size: 25px"></span>
          <img *ngIf="headerIconImage" [src]="headerIconImage" width="22px" class="mr-3" />
          <div><font size=3><h1>{{ headerTitle }}</h1></font></div>
        </div>


        <div *ngIf="isAdmin">
          <ng-container *ngTemplateOutlet="buttonTemplate"></ng-container>
        </div>
        <flower-valley-leaf-button
          class="leaf-button"
          *ngIf="headerButton"
          [routerLink]="headerButton['routerLink']"
          [title]="headerButton['title']"
        ></flower-valley-leaf-button>
      </div>

      <!--

      <div itemscope itemtype="http://schema.org/Product">
  <div itemprop="name"><h1>Кровать Мелисса с мягкой спинкой</h1></div>
  <a itemprop="image" href=​"products_pictures/large_krovat-mellisa-smyagkoispink.jpg">
    <img src=​"products_pictures/medium_krovat-mellisa-smyagkoispink.jpg" title="Кровать Мелисса с мягкой спинкой">
  </a>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="7150.00">
    <meta itemprop="priceCurrency" content="RUB">
    <div>В наличии</div>
    <link itemprop="availability" href="http://schema.org/InStock">
  </div>
  <div itemprop="description">Цена указана за кровать Мелисса с мягкой спинкой; размером спального места 900х2000 мм. Подушки у спинки кровати изготовляются из искусственной кожи. В комплектацию входит ортопедическое основание на ножках.</div>
</div>
-->

	   <div *ngIf="isTscont">
         {{seocont}}
<br><br>
      </div>



      <div *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </div>
    </div>
    <ng-content></ng-content>
    <p-button
      *ngIf="footerButton"
      styleClass="p-button-outlined w-12"
      [routerLink]="footerButton['routerLink']"
    >
      <ng-template pTemplate="content">
        <div class="flex justify-content-center align-items-center w-12">
          <div>{{ footerButton['title'] }}</div>
          <span class="pi {{ footerButton['icon'] }} ml-2"></span>
        </div>
      </ng-template>
    </p-button>
  </div>
</div>
